@if (service.isLoadingUser()) {
<progress class="progress progress-primary w-11/12"></progress>
}

@if (service.errorMessageUser()) {
<div class="alert alert-error">{{ service.errorMessageUser() }}</div>
}
@let selectedUser = service.selectedUser();
@if (selectedUser) {
<form [formGroup]="patchedForm()">

    @if(!isEdit()){
    <app-details-user-form [user]="selectedUser" />
    }@else {
    <app-edit-user-form [user]="selectedUser" />
    }
    <div class="flex justify-end space-x-2 mt-4">
        @if(isEdit()){
        <button class="btn btn-sm btn-outline btn-primary" (click)="handleSave()">Save</button>
        <button class="btn btn-sm btn-outline btn-secondary" (click)="toggleEdit()">Cancel</button>
        }@else{
        <button class="btn btn-sm btn-outline btn-primary" (click)="toggleEdit()">Edit</button>
        }
    </div>
</form>
}